*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    .section{
        width: 100%;
        height: 100%;
        .container {
            width: 90%;
            height: 100%;
            margin: 20px auto;
                .banner {
                width: 100%;
                height: 60px;
                background-color:#435d7d;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .title{
                    color: #FFFFFF;

                }
        }
        .info{
            div{
                width: 100%;
                height: 50px;
                .filter{
                    float: right;
                    border: 1px solid #000;
                }
            }
            .list{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;

                li {

                }
            }
        }
    }
}

}

