*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    .section{
        font-family: 'Varela Round', sans-serif;
        width: 100%;
        height: 100%;
        .container {
            width: 90%;
            height: 100%;
            margin: 20px auto;
            border: solid 1px #B2BABB;
            border-radius: 3px;
                .banner {
                width: 100%;
                height: 60px;
                font-size: 24px;
                background-color:#435d7d;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .add-employee { 
                    font-size: 18px;
                    padding: 8px;
                    display: flex;
                    background-color: #28B463;
                    color: #FFFFFF;
                    margin: auto;
                    border-radius: 8px;
                }
                .title{
                    color: #FFFFFF;
                    margin: auto;
                    display: flex;
                    flex-direction: column;

                }
        }
        .info{
            div{
                width: 100%;
                height: 50px;
                .filter{
                    float: right;
                    border: 1px solid #B2BABB;
                    margin: 16px;
                    padding: 12px;
                }
            }
            .list{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
                margin: 24px;

                
            }
        }
    }
}

}

