*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #d9dada;
}

body { 
    .section{
        font-family: 'Varela Round', sans-serif;
        width: 100%;
        height: 100%; 
        .container {
            width: 90%;
            height: 100%;
            margin: 20px auto;
            border: solid 1px #B2BABB;
            border-radius: 3px;
            padding: 0;
            .banner {
                width: 100%;
                height: 60px;
                font-size: 24px;
                background-color:#435d7d;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .add-employee { 
                    font-size: 18px;
                    padding: 8px;
                    display: flex;
                    background-color: #28B463;
                    color: #FFFFFF;
                    margin: auto;
                    border-radius: 8px;
                    .add-button{
                        background-color: #28B463;
                    }
                }
                .title{
                    color: #FFFFFF;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: #435d7d;
                }
        }
        .info{
            div{
                width: 100%;
                background-color: #FFFFFF;
                overflow: hidden;
                .filter{
                    float: right;
                    border: 1px solid #B2BABB;
                    margin: 16px;
                    padding: 12px;
                    background-color: #FFFFFF;
                }
            }
            .row{
                margin: auto; 
                padding: 12px;
                color: #435d7d;
                font-weight: 900;
            }
            .EmployeesRows{
                border-bottom: 1px solid #B2BABB;
                background-color: #F4F6F6;
            }
            .list{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                list-style: none;
                margin: 24px;
            }
        }
    }
}

}

